@media screen and (max-width: 320px){
	html, body{
		font-family: Helvetica;
	}

	#PORTFOLIO{
		width:40%;
	}

	.portfolio_images{
		margin-left: 15%;
	}

	#SMIcons{
		margin-top: -10%;
		margin-left: 5%;
	}

	.im_info{
		margin-top: -450px;
	}

	#Self{
		width:90%;
		height:auto;
	}

	#ABOUTME{
		width:40%;
		height:30px;
	}

	#CONTACT{
		height:30px;
	}

	#contact_info{
		width:95%;
		margin-left: 2.5%;
	}
}