@media screen and (max-width: 320px){
	html, body{
		font-family: Helvetica;
	}

	#PORTFOLIO{
		width:40%;
	}

	.portfolio_images{
		margin-left: 12.5%;
	}

	#SMIcons{
		margin-top: -11%;
		margin-left: -10%;
	}

	.im_info{
		margin-top: -450px;
	}

	#Self{
		width:90%;
		height:auto;
	}

	#ABOUTME{
		width:40%;
		height:40px;
	}

	#CONTACT{
		height:40px;
	}

	#contact_info{
		width:95%;
		margin-left: 2.5%;
		margin-top: 100px;
	}

	#SMIcons2{
		margin-left: -10%;
	}

	.SM_im{
		width:5%;
		height:5%;
	}

	#cust_mail{
		width:7%;
		height:3%;
	}

}