@media screen and (max-width: 320px){
	html, body{
		font-family: Helvetica;
	}

	#PORTFOLIO{
		width:40%;
	}

	.portfolio_images{
		margin-left: 15%;
	}

	#SMIcons{
		margin-top: -9%;
	}

	.im_info{
		margin-top: -450px;
	}

	#Self{
		width:100%;
		height:auto;
	}

	#ABOUTME{
		width:40%;
	}

	#CONTACT{
		height:30px;
	}
}