@media screen and (max-width: 980px){
	#pagewrap{
		width:100%;
	}

	#NavBar_Bottom{
		height:2em;
		width:100%;
	}

	#NavBar_Top{
		margin-top:0.5%;
	}

	#NavBar_Top li{
		padding:4%;
		text-align: center;
	}

	.SM_im{
		width:3.673%;
		height:3.673%;
	}

    #cust_mail{
		width:4.592%;
		height:3.061%;
	}

	#PORTFOLIO{
		margin-left:40%;
		margin-top:4%;
		height:3.3em;
		width:17.04%;
		position: absolute;
	}

	.im_info{
		top:75%;
	}

	#SmBrd_1{
	width:100%;
	height:auto;
	}

	#SmBrd_2{
		width:100%;
		height:auto;
	}

	#TS_1{
		width:100%;
		height:auto;
	}
}