@media screen and (max-width: 980px){
	#pagewrap{
		width:100%;
	}

	#fade{
		height:3550px;
	}

	#NavBar_Bottom{
		height:2.5em;
		width:100%;
	}

	#NavBar_Top{
		margin-top:0.5%;
	}

	#NavBar_Top li{
		padding:3%;
		text-align: center;
	}

	.SM_im{
		width:3.673%;
		height:3.673%;
	}

    #cust_mail{
		width:4.592%;
		height:3.061%;
	}

	.im_info{
		margin-top: -50px;
	}

	#PORTFOLIO{
		margin-left:40%;
		margin-top:4%;
		height:3.3em;
		width:17.04%;
	}

	#SmBrd_1{
		width:100%;
	}

	#SmBrd_2{
		width:100%;
	}

	#SmBrd_3{
		width:100%;
	}

	#SmBrd_4{
		width:100%;
	}

	#TS_1{
		width:100%;
	}

	#TS_2{
		width:100%;
	}
	
	#TS_3{
		width:100%;
	}

	#POP_1{
		width:100%;
	}

	#POP_2{
		width:100%;
	}

	#POP_3{
		width:100%;
	}

	#POP_4{
		width:100%;
	}

	#LA_1{
		width:100%;
	}

	#LA_2{
		width:100%;
	}

	#ExpIcons{
	list-style-type: none;
	margin:0px;
	margin-top: -50px;
	margin-left: 64%;
	}

	#AM_bg{
		height:auto;
	}

	#ABOUTME{
		width:16%;
		height:5.5%;
	}

	#Self{
		margin-left: 30%;
	}

	#AM_content{
		margin-top: 0%;
		margin-left: 2%;
	}

	#CONTACT{
		width:18%;
		height:5.5%;
		margin-left: 80%;
	}

	#contact_info{
		margin-left: 1%;
	}
}