@media screen and (max-width: 800px){
	#pagewrap{
		width:100%;
	}

	#NavBar_Top{
		margin-right: auto;    
		margin-left: auto;    
		max-width: 100%;    
		min-width: 800px;
	}

	#NavBar_Top li{
		text-align: center;
		padding: 4%;
	}

	#SMIcons{
		margin-top: -7.5%;
	}

	#PORTFOLIO{
		width:20%;
	}

	.im_info{
		margin-top: -175px;
	}

	#ABOUTME{
		width:20%;
	}

	#CONTACT{
		width:20%;
		margin-left: 75%;
	}

	#fade{
		height:4000px;
	}

	#bottom_bar{
		height:250px;
		padding-top: 125px;
	}
}