html, body{
	margin: 0;
	padding: 0;
	background-color: #E0E0E0;
	height:2542.49px;
}

#pagewrap{
	width: 980px;
	margin: 0 auto;
	height:auto;
}

#Cover_Image{
	width:100%;
	position:static;
	height:auto;
}

#NavBar_Bottom{
	width:980px;
	position:fixed;
	background-color:#006AD3;
	opacity:0.7;
	height:40px;
	z-index: 1;
}

#NBar_Name{
	font-size: 1.5em;
	font-family:"Courier New";
	font-weight:bolder;
	color:black;
	margin-top:10px;
	z-index: 2;
}

#NavBar_Top{
	position:fixed;
	list-style-type: none;
	height:auto;
	margin:0px;
	margin-top:8px;
	font-size:1em;
	font-family: "Agency FB";
	font-weight: bolder;
	opacity:1;
	z-index: 2;
}

#NavBar_Top li{
	display:inline;
	padding:50px;
	z-index: 2
}

#NavBar_Top li a:link{
	text-decoration: none;
	color:#FFFFFF;
}

#NavBar_Top li a:visited{
	text-decoration: none;
	color:#FFFFFF;
}

#NavBar_Top li a:hover{
	text-decoration: none;
	color:orange;
	opacity:1;
}

#SMIcons{
	list-style-type: none;
	margin:0px;
	margin-top: -70px;
	margin-left: -20px;
}

#SMIcons li{
	display:inline;
	padding:5px;
}

.SM_im{
	width:36px;
	height:36px;
}

#cust_mail{
	height:30px;
	width:45px;
}

#port_bg{
	width:100%;
	background-color: #E0E0E0;
	height:auto;
}

#PORTFOLIO{
	margin-left:400px;
	margin-top:15px;
	height:60px;
	width:167px;
	position:absolute;
}

#Blank_1{
	width:100%;
	height:100px;
}

.portfolio_images{
	display: inline-block;
	width:240px;
	height:240px;
	position:relative;
	margin:0px;
	padding:0px;
}

#fade{
	width:100%;
	height:2542.49px;
	display:none;
	background-color: black;
	-moz-opacity:0.7;
	opacity:0.7;
	filter: alpha(opacity=70);
	position: absolute;
	z-index: 90;
}

#overlay{
	display:none;
	position: absolute;
	left: 25%;
	top: 25%;
	padding:25px;
	background-color: #E0E0E0;
	width: 50%;
	height: 50%;
	z-index: 100;
}