html body{
	margin:0;
	padding:0;
	height:100%;
}

#TitlePage{
	width:98%;
	margin-top:0px;
	position: float;
}

#Bio{
	background-color:#6CDBA4;
	margin-left:14%;
	margin-top:1%;
}

.SMIcon{
	height:3%;
	width:3%;
	margin-left:96%;
	padding-top:0.4%;
}

h3{
	font-weight: normal;
	color:black;
	font-family:Arial;
	padding:2%;
	padding-left:17%;
	padding-right:17%;
	margin-top:-11%;
	line-height:180%;
}

ul{
	list-style-type:none;
	margin:0%;
	margin-top:1%;
	padding:0%;
}

.Navbar{
	width:12.5%;
	position:float;
}

.Navbar:hover{
	width:13%;
	opacity:0.75;
}

#Home{
	height:17%;
	position:fixed;
	margin-top:-175px;
}

#Home:hover{
	height:17.5%;
}

#Portfolio{
	margin-top:-25px;
	height:15%;
	position:fixed;
}

#Portfolio:hover{
	height:15.5%;
}

#AboutMe{
	height:15%;
	margin-top:110px;
	position:fixed;
}

#AboutMe:hover{
	height:15.5%;
}

#Contact{
	margin-top:245px;
	height:19%;
	position:fixed;
}

#Contact:hover{
	height:19.5%;
}

.Header{
	background-color:#021D27;
	color:white;
	font-family:Arial;
	font-weight:normal;
	font-size:1.75em;
	padding:1.2%;
	padding-left:4%;
	margin-left:14%;
}

#AMContent{
	margin-top:5%;
}

#PContent{
	margin-top:1.5%;
}

#Pics{
	margin-left:14%;
	list-style-type: none;
}

#ModSimP1Text{
	margin-left:27.5%;
	font-family:Arial;
	background-color:#0088B7;
	padding:1.25%;
	height:17%;
	width:17%;
	margin-top:-17%;
	color:white;
	font-weight:bold;
	display:none;
}

#ModSim_P1:hover{
	opacity:0.75;
}

#ModSim_P2:hover{
	opacity:0.75;
}

#ModSimP2Text{
	margin-left:31%;
	font-family:Arial;
	background-color:#0088B7;
	padding:1.25%;
	height:17%;
	width:17%;
	margin-top:-20%;
	color:white;
	font-weight:bold;
	display:none;
}

#CContent{
	margin-top:4%;
	margin-bottom:75%;
}

#ProPic{
	height:auto;
	width:19.5%;
	margin-left:14%;
	position:float;
}

.AMText{
	font-family:Arial;
	font-size:1.25em;
	margin-left:35%;
	margin-right:1%;
	line-height: 155%;
}

#AMP1{
	margin-top:-24%;
}

.AMLink{
	text-decoration:none;
	color:#0088B7;
}

.AMLink:visited{
	color:#0088B7;
}

.AMLink:hover{
	font-weight:bold;
}

#PHeader{
	font-family:Arial;
	font-weight:bold;
	font-size:1.75em;
	text-align:center;
}

#PHeader2{
	font-family:Arial;
	font-weight:bold;
	font-size:1em;
	text-align:center;
	margin-top:-1%;
}